.table-container {
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  justify-content: space-between;
  border-color: grey;
  border-style: solid;
  border-bottom: none;
}
