.form-container {
  display: flex;
  flex-direction: column;
  width: 560px;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.search-container {
  border-style: solid;
  border-color: grey;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radial-button-container {
  display: flex;
  justify-content: space-around;
  height: 30px;
}

.radial-label {
  display: flex;
  flex-direction: column;
}

.search-input-container {
  display: flex;
  justify-content: center;
  height: 30px;
}

.search-input {
  width: 300px;
}

.search-input.ng-invalid.ng-touched {
  border-style: solid;
  border-color: red;
}

.warning-text {
  color: orange;
  font-weight: bold;
  text-align: center;
}

.error-message {
  color: red;
}
